In [1]:
import pandas as pd

In [2]:
companies = pd.read_csv('data/companies.tsv')
companies.head()

  companiesId\tcompaniesName\tcompaniesDateCreated\tcreatedBy\tcompaniesEmails\tcompaniesPhones\temployeesId\temployeesName\tusersResponsible\tsectorKey
0  1\tClass LLP\t4/13/2019\tjohndoe\tmalesuada.ve...
1  2\tVulputate Corporation\t2/21/2019\tjohndoe\t...
2  3\tSed Dui Fusce Consulting\t6/29/2017\tjohndo...
3  4\tOrci Donec Nibh Incorporated\t6/24/2017\tjo...
4  5\tSagittis Nullam Vitae Ltd\t8/6/2018\tjohndo...